<div class="book-card-container">
    <div class="card">
        <img src="../../assets/Burnout.jpg">
        <p class="description">Secretul pentru a desface ciclul stresului nu este să te odihnești mai mult sau să încerci să atingi un 'echilibru perfect', ci mai degrabă să te implici mai pe deplin în viața de zi cu zi, aici și acum.</p>
        <button>Citeste mai mult</button>
    </div>
    <div class="card">
        <img src="../../assets/Creierul fericit.jpeg">
        <p class="description">Creierul fericit ne învață că adevărata fericire provine din înțelegerea profundă a emoțiilor noastre și din construirea unei vieți reziliente, pline de satisfacții.</p>
        <button>Citeste mai mult</button>
    </div>
    <div class="card">
        <img src="../../assets/Secretele succesului.jpeg">
        <p class="description">Secretele succesului ne dezvăluie că triumful în viață nu vine din circumstanțe norocoase, ci din dezvoltarea unei mentalități care vede în fiecare provocare o oportunitate de creștere.</p>
        <button>Citeste mai mult</button>
    </div>
    <div class="card">
        <img src="../../assets/Nevoile lui nevoile ei.jpg">
        <p class="description">Nevoile lui, nevoile ei" explorează ideea că armonia într-o relație este atinsă când învățăm să recunoaștem și să onorăm nevoile distincte ale partenerului nostru la fel de mult pe cât ne valorizăm propriile dorințe.</p>
        <button>Citeste mai mult</button>
    </div>
    <div class="card">
        <img src="../../assets/Sanatatea creierului pe intelesul tuturor.png">
        <p class="description">O minte agilă începe cu un creier sănătos. 'Sănătatea creierului pe înțelesul tuturor' ne înarmează cu instrumentele științifice și sfaturile practice necesare pentru a ne îngriji cel mai important organ, astfel încât să trăim o viață plină de vitalitate și claritate mentală.</p>
        <button>Citeste mai mult</button>
    </div>
    <div class="card">
        <img src="../../assets/Sanatatea creierului.jpg">
        <p class="description">Secretul longevității nu este doar în genele noastre, ci și în alegerile zilnice pe care le facem; cartea 'Secretul longevității' ne oferă o hartă detaliată a obiceiurilor care ne pot conduce spre o viață îndelungată și împlinită.</p>
        <button>Citeste mai mult</button>
    </div>
    <div class="card">
        <img src="../../assets/ABC de nutritie.jpg">
        <p class="description">'ABC de nutriție' ne oferă ghidul esențial pentru a înțelege bazele unei alimentații corecte și impactul acesteia asupra sănătății noastre, încurajându-ne să adoptăm obiceiuri alimentare care susțin o viață lungă și plină de vitalitate.</p>
        <button>Citeste mai mult</button>
    </div>
    <div class="card">
        <img src="../../assets/Alegerile care iti pot salva viata.jpg">
        <p class="description">Secretul pentru a desface ciclul stresului nu este să te odihnești mai mult sau să încerci să atingi un 'echilibru perfect', ci mai degrabă să te implici mai pe deplin în viața de zi cu zi, aici și acum.</p>
        <button>Citeste mai mult</button>
    </div>
    <div class="card">
        <img src="../../assets/Arta de a manca putin mai putin.webp">
        <p class="description">Secretul pentru a desface ciclul stresului nu este să te odihnești mai mult sau să încerci să atingi un 'echilibru perfect', ci mai degrabă să te implici mai pe deplin în viața de zi cu zi, aici și acum.</p>
        <button>Citeste mai mult</button>
    </div>
    <div class="card">
        <img src="../../assets/Lumea vazuta de sus.png">
        <p class="description">Secretul pentru a desface ciclul stresului nu este să te odihnești mai mult sau să încerci să atingi un 'echilibru perfect', ci mai degrabă să te implici mai pe deplin în viața de zi cu zi, aici și acum.</p>
        <button>Citeste mai mult</button>
    </div>
    <div class="card">
        <img src="../../assets/liderii-mananca-ultimii.jpg">
        <p class="description">Secretul pentru a desface ciclul stresului nu este să te odihnești mai mult sau să încerci să atingi un 'echilibru perfect', ci mai degrabă să te implici mai pe deplin în viața de zi cu zi, aici și acum.</p>
        <button>Citeste mai mult</button>
    </div>
    <div class="card">
        <img src="../../assets/cel mai intelept din incapere.jpg">
        <p class="description">Secretul pentru a desface ciclul stresului nu este să te odihnești mai mult sau să încerci să atingi un 'echilibru perfect', ci mai degrabă să te implici mai pe deplin în viața de zi cu zi, aici și acum.</p>
        <button>Citeste mai mult</button>
    </div>
</div>
