.home-page-container {
    background-color: rgb(215, 194, 165);
    padding: 0 1em;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0px 10px 100px rgba(67, 45, 22, 20);
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.5em;
    height: 200px;
    img {
        width: 200px;
        height: 200px;
    }
    .category{
        font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 2em;
        height: 200px;
    }
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
   .intro-image {
    height: 20em;
   }
   .intro-text {
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
   }
   span {
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    padding: 20px 20px;
   }
}

@media screen and (min-width: 820px) {
    .intro-image {
        width: 50em;
    }
    .intro-text {
        width: 50em;
    }
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

.header {
    height: 50px;
    max-width: 270px;
    line-height: 50px;
    background:  rgba(142, 105, 74, 0.233);
    border-radius: 20px 50% 0 50%;
    box-shadow: 0px 10px 100px rgba(67, 45, 22, 20);
}

.header span {
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(142, 105, 74);
    font-size: 30px;
    padding: 20px 20px;
}



