.home-page-container {
    background-color: rgb(215, 194, 165);
    padding: 0 1em;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0px 10px 10px rgba(67, 45, 22, 20);
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.5em;
    height: 200px;
    font-size: 20px;
    border: 2px solid bisque;
    li {
        background-color: bisque;
    }
    img {
        width: 200px;
        height: 200px;
    }
    .category{
        font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 2em;
        height: 200px;
        color: rgb(70, 52, 37)
    }
}

.intro {
    display: flex;
    background-color: rgb(230, 221, 206);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    border-top-left-radius: 160px;
    border-top-right-radius: 160px;
   .intro-image {
    height: 20em;
    border-radius: 351px;
   }
   .intro-text {
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: rgb(70, 52, 37);
    padding-left: 40px;
   }
   span {
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(70, 52, 37);
    font-size: 30px;
    padding: 20px 20px;
   }
}

@media screen and (min-width: 820px) {
    .intro-image {
        width: 50em;
    }
    .intro-text {
        width: 50em;
    }
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}




