<div class="wrapper-main">
<div class="home-page-container">
    <div class="wrapper-content">
    <div class="content">
            <div class="nav-bar">
                <img src="../../assets/logo.JPG" alt="logo">
                    <ul class="category">
                        <li>Toate</li>
                        <li>Dezvoltare personala</li>
                        <li>Psihologie</li>
                        <li>Nutritie</li>
                        <li>Programare</li>
                        <li>Sport</li>
                    </ul>
            </div>
            <div class="intro">
                <img class="intro-image" src="../../assets/readers.jpg">
                <span>Bun venit pe ‘Raftul Loretei’!</span>
                <p class="intro-text">Într-o lume unde fiecare pagină ne deschide o nouă lume, ‘Raftul Loretei’ este locul de întâlnire al cărților care ne-au marcat, ne-au inspirat și ne-au transformat. Aici, fiecare carte pe care am deschis-o și am iubit-o își găsește un loc special, împărtășindu-și poveștile și învățămintele cu voi.</p>
                <p class="intro-text">Descoperă cărți alese cu grijă și recenzate cu pasiune, fiecare cu fragmente de impact care te vor face să te gândești, să simți și poate chiar să schimbi ceva în viața ta. De la romane captivante la lucrări de dezvoltare personală, de la poezie emoționantă la non-ficțiune provocatoare, ‘Raftul Loretei’ te invită într-o călătorie a descoperirii prin literatură</p>
                <p class="intro-text">Nu ezita să împărtășești și tu gândurile tale despre cărțile citite, să lași un comentariu, să oferi un like sau să împarți cu prietenii tăi comorile găsite aici. ‘Raftul Loretei’ este mai mult decât un site – este o comunitate de iubitori de cărți, un spațiu unde fiecare voce contează și fiecare carte are o poveste de spus.</p>
                <p class="intro-text">Haide să explorăm împreună lumea cărților și să descoperim următoarea noastră lectură preferată!</p>
            </div>
            <div class="card-container">
                <app-book-card></app-book-card>
            </div>
        </div>
        </div>
    </div>
</div>
