@import '../src/app/shared-scss/style.scss';
body {
    background-color: rgb(49 49 49);
    user-select: none;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background: rgb(96, 95, 95);
    border-radius: 100vw;
    margin-block: .5em;
}

::-webkit-scrollbar-thumb {
    background: rgb(178, 176, 176);
    border-radius: 100vw;
}

@media screen and (min-width: 0px) and (max-width: 500px) {
    .wrapper-main {
        width: 400px;
        margin: auto;
    }
    
    .wrapper-content {
        width: 300px;
        margin: auto;
    }
}

@media screen and (min-width: 501px) and (max-width: 821px) {
    .wrapper-main {
        width: 700px;
        margin: auto;
    }
    
    .wrapper-content {
        width: 500px;
        margin: auto;
    }
}
  
  @media screen and (min-width: 820px) {
    .wrapper-main {
        width: 1000px;
        margin: auto;
    }
    
    .wrapper-content {
        width: 800px;
        margin: auto;
    }
}