@import '../src/app/shared-scss/style.scss';
body {
    background-color: $beige;
    user-select: none;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background: rgb(159, 139, 112);
    border-radius: 100vw;
    margin-block: .5em;
}

::-webkit-scrollbar-thumb {
    background: rgb(125, 110, 89);
    border-radius: 100vw;
}

.wrapper-main {
    width: 1000px;
    margin: auto;
}

.wrapper-content {
    width: 800px;
    margin: auto;
}